<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script> {# Швидке підключення Tailwind #}
    </head>
    <body class="bg-gray-100 p-10">
        <div class="max-w-2xl mx-auto bg-white p-6 rounded shadow">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
